.home
  height: 100%
  width: 100%
  color: white

.list
  display: flex
  flex-flow: row wrap
  width: 100%
  height: calc(100% - 50px)
  overflow-y: scroll

  &::-webkit-scrollbar
    display: none

  /* Hide scrollbar for IE, Edge and Firefox */
  &
    -ms-overflow-style: none /* IE and Edge */
    scrollbar-width: none /* Firefox */
